.preview {
	max-height: 30rem;
	max-width: 40rem;
	margin: 1rem;
}

.border {
	border: 0.25rem;
	border-color: black;
}

#result {
	background-image: url(assets/troll.jpeg);
	background-size: contain;
}
